/* @import "./utils/functions";
@import "./utils/extensions"; */
body {
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  margin: 0px;
}

.main__menu {
  background-color: #F6F6F6;
}

.logo__font {
  font-family: "shrikhand";
}

* {
  font-family: "roboto";
}

.bold {
  font-weight: 700;
}

.thin {
  font-weight: 100;
}

.button {
  width: fit-content;
  background: #9356DC;
  background: linear-gradient(354deg, #9356DC 0%, #9356DC 15%, #FF79DA 92%);
  color: white;
  border: 0px;
  padding: 13px 23px;
  border-radius: 20px;
  box-shadow: 0px 10px 14px -15px rgba(0, 0, 0, 0.3);
}
.button:hover {
  opacity: 0.92;
  box-shadow: 0px 10px 14px -5px rgba(0, 0, 0, 0.3);
}

.card {
  width: 90%;
  height: 190px;
  margin: 15px;
  background-color: white;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 10px 14px -15px rgba(0, 0, 0, 0.3);
}
.card img {
  width: 100%;
  height: 68%;
  object-fit: cover;
  object-position: 50% 60%;
}
.card a {
  text-decoration: none;
  color: black;
}
.card__caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 93%;
  margin: auto;
  padding-top: 8px;
}
.card__text > h4 {
  margin: 0px;
  font-weight: 500;
  font-size: 15px;
}
.card__text p {
  margin: 0px;
  font-weight: 300;
  font-size: 14px;
  padding-top: 3px;
}
.card__icon {
  padding-right: 9px;
  font-size: 20px;
}
.card__icon .heart__full::before {
  display: none;
}

header {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 14px -15px rgba(0, 0, 0, 0.3);
}

.header__title {
  font-size: 25px;
  margin: 16px 0px 4px;
}

.searchBar {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 45px;
  color: #363636;
  margin: auto;
}
.searchBar__input {
  width: 35%;
  border: none;
  background-color: transparent;
  padding: 0;
  text-align: center;
}
.searchBar__icon {
  width: auto;
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  .searchBar__input {
    width: 15%;
  }
}
@media screen and (min-width: 1024px) {
  .searchBar__input {
    width: 11%;
  }
}
@media screen and (min-width: 1440px) {
  .searchBar__input {
    width: 8%;
  }
}
footer {
  background-color: #363636;
  display: flex;
  flex-direction: column;
}
footer > .logo__font {
  color: white;
  margin: 0px;
  padding: 6% 0px 12px 5%;
  font-size: 100%;
}
footer ul {
  list-style: none;
  padding: 0px 0px 10% 5%;
  margin: 0px;
  line-height: 20px;
  font-size: 90%;
}
footer a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 1024px) {
  footer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
  }
  footer .logo__font {
    padding: 0px;
  }
  footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    max-width: 1440px;
  }
  footer ul li {
    margin: 0 50px;
  }
}
.loader__container {
  background: rgb(147, 86, 220);
  background: linear-gradient(349deg, rgb(147, 86, 220) 0%, rgb(147, 86, 220) 14%, rgb(255, 121, 218) 92%);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  display: none;
}
.loader__container .logo__font {
  color: white;
  font-size: 47px;
  font-weight: 500;
}
.loader__container .loading {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__container .loading .line__box {
  padding: 2px;
  width: 40%;
  height: 20px;
  border: transparent;
  border-radius: 20px;
}
.loader__container .loading .line__box .line {
  height: 20px;
  border-radius: 20px;
  background: white;
  animation: loading 2s forwards cubic-bezier(0, 0, 0, 0);
}

@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
/* @import "./layout/form"; */
header {
  position: relative;
}

.title {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  padding: 30px 40px 44px;
  align-items: center;
}
.title__font {
  margin: 0px;
  font-size: 20px;
  text-align: center;
}
.title .thin {
  display: block;
  font-size: 14px;
  margin-top: 12px;
}

.button {
  margin-top: 25px;
}

.functionning {
  display: flex;
  padding: 35px 15px 40px 0px;
  gap: 25px;
  flex-direction: column;
  width: auto;
}
.functionning > h3 {
  margin: 0px;
  padding-left: 15px;
}
.functionning .step {
  display: flex;
  align-items: center;
}
.functionning .step > p {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  color: white;
  border-radius: 15px;
  width: 28px;
  height: 23px;
  position: relative;
  left: 15px;
  font-size: 12px;
}
.functionning .step__block {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 18px;
  height: 60px;
  width: 100%;
  font-size: 14px;
  padding-left: 35px;
  gap: 20px;
  box-shadow: 0px 10px 14px -15px rgba(0, 0, 0, 0.3);
}
.functionning .step__block > i {
  color: #363636;
}
.functionning .step__block:hover {
  background-color: #f5edff;
}
.functionning .step__block:hover > i {
  color: #9356DC;
}

#restaurants {
  background-color: #F6F6F6;
}
#restaurants > h3 {
  margin: 0px;
  padding: 35px 0px 5px 15px;
  font-size: 20px;
}
#restaurants .wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

@media screen and (min-width: 700px) {
  #restaurants .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: auto;
    /* height: 40rem; */
    max-width: 1440px;
    margin: auto;
  }
  #restaurants .wrapper .card {
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .title {
    padding: 50px 30px;
  }

  .functionning {
    flex-direction: row;
    align-items: center;
    padding: 50px 20px;
    max-width: 1440px;
    margin: auto;
  }
  .functionning .step {
    width: 33%;
  }

  #restaurants {
    padding: 23px;
  }
  #restaurants > h3 {
    padding: 15px;
    font-size: 30px;
    max-width: 1400px;
    margin: auto;
  }
  #restaurants .wrapper {
    flex-flow: row wrap;
    width: auto;
    /* height: 40rem; */
    max-width: 1440px;
    margin: auto;
  }
  #restaurants .wrapper .card {
    width: 23%;
    /* height: 48%; */
    margin: 1%;
  }
  #restaurants .wrapper .card__text > h4 {
    /* font-size: 28px; */
  }
  #restaurants .wrapper .card__text p {
    /* font-size: 26px; */
  }
  #restaurants .wrapper .card__icon {
    /* font-size: 40px; */
  }
}
.header {
  width: 100%;
  display: flex;
}
.header h1 {
  margin: 0px;
  flex-grow: 2;
  justify-content: center;
}
.header a {
  text-decoration: none;
  color: #363636;
  flex-grow: 1.5;
}

img {
  width: 100%;
  height: 20%;
}

.menu {
  background-color: #F6F6F6;
  position: relative;
  bottom: 50px;
  border-radius: 35px 35px 0px 0px;
  padding: 15px;
}
.menu__title {
  width: 95%;
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__title h2 {
  margin: 0px;
}
.menu__title i {
  font-size: 20px;
}
.menu h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 18px;
}
.menu__recipe {
  background-color: white;
  border-radius: 10px;
  padding: 12px 10px;
  margin: 14px 0px;
  line-height: 20px;
  box-shadow: 0px 10px 14px -15px rgba(0, 0, 0, 0.3);
}
.menu__recipe p {
  margin: 0px;
  font-size: 13px;
}
.menu__recipe p :not(.bold) {
  font-weight: 100;
}
.menu__recipe p.bold {
  font-size: 15px;
}
.menu__price {
  color: #363636;
  font-weight: 700;
}
.menu__details {
  display: flex;
  justify-content: space-between;
  padding-right: 5%;
}
.menu__details p:not(.menu__price) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .btn__wrapper {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  img {
    height: 300px;
    object-fit: cover;
    object-position: 0 50%;
  }

  .menu {
    position: unset;
    max-width: 1440px;
    margin: auto;
  }
  .menu__step {
    display: flex;
    justify-content: space-around;
  }
  .menu__step--starter, .menu__step--dish, .menu__step--dessert {
    height: 100%;
    width: 100%;
    padding: 10px;
  }
  .menu .button {
    margin: 25px;
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
