body, main {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  margin: 0px;
}

.logo--font {
  font-family: "shrikhand";
}

* {
  font-family: "roboto";
}

.bold {
  font-weight: 700;
}

.thin {
  font-weight: 100;
}

.button {
  width: fit-content;
  background: #9356DC;
  background: linear-gradient(354deg, #9356DC 0%, #9356DC 15%, #FF79DA 92%);
  color: white;
  border: 0px;
  padding: 13px 23px;
  border-radius: 20px;
}

.card {
  width: 90%;
  height: 190px;
  margin: 15px;
  background-color: white;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 25px -20px black;
}
.card img {
  width: 100%;
  height: 68%;
  object-fit: cover;
  object-position: 50% 60%;
}
.card a {
  text-decoration: none;
  color: black;
}
.card--caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 93%;
  margin: auto;
  padding-top: 8px;
}
.card--text > h4 {
  margin: 0px;
  font-weight: 500;
  font-size: 15px;
}
.card--text p {
  margin: 0px;
  font-weight: 300;
  font-size: 14px;
  padding-top: 3px;
}
.card--icon {
  padding-right: 9px;
  font-size: 20px;
}
.card--icon .heart--full::before {
  display: none;
}

.header {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 25px -15px black;
}
.header--title {
  font-size: 25px;
  margin: 16px 0px 4px;
}

.searchBar {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 45px;
  color: #363636;
}
.searchBar--input {
  width: 32%;
  border: none;
  background-color: transparent;
  padding: 0;
}
.searchBar--icon {
  width: auto;
  font-size: 13px;
}

footer {
  background-color: #363636;
  display: flex;
  flex-direction: column;
}
footer > .logo--font {
  color: white;
  margin: 0px;
  padding: 6% 0px 12px 5%;
  font-size: 13px;
}
footer ul {
  list-style: none;
  padding: 0px 0px 10% 5%;
  margin: 0px;
  line-height: 20px;
  font-size: 11px;
}
footer a {
  text-decoration: none;
  color: white;
}

/* @import "./layout/container";
@import "./layout/form"; */
.header {
  position: relative;
}

.title {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  padding: 30px 40px 44px;
  align-items: center;
}
.title__font {
  margin: 0px;
  font-size: 20px;
  text-align: center;
}
.title .thin {
  display: block;
  font-size: 14px;
  margin-top: 12px;
}

.button {
  margin-top: 25px;
}

.functionning {
  display: flex;
  padding: 35px 15px 40px 0px;
  gap: 25px;
  flex-direction: column;
  width: auto;
}
.functionning > h3 {
  margin: 0px;
  padding-left: 15px;
}
.functionning .step {
  display: flex;
  align-items: center;
}
.functionning .step > p {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  color: white;
  border-radius: 15px;
  width: 28px;
  height: 23px;
  position: relative;
  left: 15px;
  font-size: 12px;
}
.functionning .step--block {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 18px;
  height: 60px;
  width: 100%;
  font-size: 14px;
  padding-left: 35px;
  gap: 20px;
  box-shadow: 0px 10px 14px -15px rgba(0, 0, 0, 0.3);
}
.functionning .step--block > i {
  color: #363636;
}
.functionning .step--block:hover {
  background-color: #f5edff;
}
.functionning .step--block:hover > i {
  color: #9356DC;
}

#restaurants {
  background-color: #F6F6F6;
}
#restaurants > h3 {
  margin: 0px;
  padding: 35px 0px 5px 15px;
  font-size: 20px;
}
#restaurants .wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.header i {
  margin: 16px 0px 4px;
  position: relative;
  right: 20%;
}

img {
  width: 100%;
  height: 20%;
}

.menu {
  background-color: #F6F6F6;
  position: relative;
  bottom: 50px;
  border-radius: 35px;
  padding: 15px 0px 80px;
}
.menu--title {
  width: 95%;
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu--title h2 {
  margin: 0px;
}
.menu--title i {
  font-size: 20px;
}
.menu h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 18px;
}
.menu--recipe {
  background-color: white;
  border-radius: 10px;
  padding: 12px 10px;
  margin: 14px 0px;
  line-height: 20px;
}
.menu--recipe p {
  margin: 0px;
  font-size: 13px;
}
.menu--recipe p :not(.bold) {
  font-weight: 100;
}
.menu--recipe p.bold {
  font-size: 15px;
}
.menu--price {
  color: #363636;
  font-weight: 700;
}
.menu--details {
  display: flex;
  justify-content: space-between;
  padding-right: 5%;
}
.menu--details p:not(.menu--price) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .btn--wrapper {
  display: flex;
  justify-content: center;
}

/* @import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions"; */

/*# sourceMappingURL=style.css.map */
