.searchBar {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 45px;
    color: #363636;
    margin: auto;

    &__input {
        width: 35%;
        border: none;
        background-color: transparent;
        padding: 0;
        text-align: center;
    }

    &__icon {
        width: auto;
        font-size: 13px;
    }
}

@media screen and (min-width: 768px) {
    .searchBar__input {
        width: 15%;
    }
}

@media screen and (min-width: 1024px) {
    .searchBar__input {
        width: 11%;
    }
}

@media screen and (min-width: 1440px) {
    .searchBar__input {
        width: 8%;
    }
}