header {
    position: relative;
}

.title {
    background-color: $background;
    display: flex;
    flex-direction: column;
    padding: 30px 40px 44px;
    align-items: center;

    &__font {
        margin: 0px;
        font-size: 20px;
        text-align: center;

    }

    .thin {
        display: block;
        font-size: 14px;
        margin-top: 12px;
        }
}

.button {
    margin-top: 25px;
}

.functionning {
    display: flex;
    padding: 35px 15px 40px 0px;
    gap: 25px;
    flex-direction: column;
    width: auto;

    >h3 {
        margin: 0px;
        padding-left: 15px;
    }

    .step {
        display: flex;
        align-items: center;

        >p {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $primary;
            color: white;
            border-radius: 15px;
            width: 28px;
            height: 23px;
            position: relative;
            left: 15px;
            font-size: 12px;
        }

        &__block{        
            display: flex;
            align-items: center;
            background-color: $background;
            border-radius: 18px;
            height: 60px;
            width: 100%;
            font-size: 14px;
            padding-left: 35px;
            gap: 20px;
            @include shadow;

            >i {
                color: #363636;
            }
        }

        &__block:hover{
            background-color: #f5edff;

            >i{
                color: $primary;
            }
        }
    }
}

#restaurants {
    background-color: $background;

    >h3 {
        margin: 0px;
        padding: 35px 0px 5px 15px;
        font-size: 20px;
    }
    .wrapper {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
    } 
}