.header {
    position: relative;
}

.title {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    padding: 30px 40px 44px;
    align-items: center;

    &__font {
        margin: 0px;
        font-size: 20px;
        text-align: center;

    }

    .thin {
        display: block;
        font-size: 14px;
        margin-top: 12px;
        }
}

.button {
    margin-top: 25px;
}