@keyframes loader {
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes spinner {
    to {
        transform: rotate(1turn);
    }
}

@keyframes fade {
    from {
        transform: translateY(10px);
    }

    to {
        transform: translateY(0px);
        opacity: 100%;
    }
}